<?xml version="1.0"?>
<config>
    <modules>
        <Shippingeasy_Fulfilment>
            <version>0.1.0</version>
        </Shippingeasy_Fulfilment>
    </modules>
    <frontend>
        <secure_url>
            <customer>/shippingeasy/</customer>
        </secure_url>
        <routers>
            <fulfilment>
                <use>standard</use>
                <args>
                    <module>Shippingeasy_Fulfilment</module>
                    <frontName>shippingeasy</frontName>
                </args>
            </fulfilment>
        </routers>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <shippingeasy_order_success>
                        <type>singleton</type>
                        <class>fulfilment/observer</class>
                        <method>submitOrder</method>
                    </shippingeasy_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            
            <checkout_multishipping_controller_success_action>
                <observers>
                    <shippingeasy_order_success>
                        <type>singleton</type>
                        <class>fulfilment/observer</class>
                        <method>multiShippingOrders</method>
                    </shippingeasy_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <fulfilment>
                <use>admin</use>
                <args>
                    <module>Shippingeasy_Fulfilment</module>
                    <frontName>shippingeasy</frontName>
                </args>
            </fulfilment>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shippingeasy>
                                            <title>Shipping Easy Integration Configuration</title>
                                        </shippingeasy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 


        <events>
            <checkout_submit_all_after>
                <observers>
                    <adminhtml_order_success>
                        <type>singleton</type>
                        <class>fulfilment/observer</class>
                        <method>submitOrder</method>
                    </adminhtml_order_success>
                </observers>
            </checkout_submit_all_after>
            <order_cancel_after>
                <observers>
                    <shippingeasy_order_cancel_after>
                        <type>singleton</type>
                        <class>fulfilment/observer</class>
                        <method>cancelOrder</method>
                    </shippingeasy_order_cancel_after>
                </observers>
            </order_cancel_after>
        </events>
    </adminhtml>
	
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Shippingeasy_Fulfilment_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <fulfilment>
                <class>Shippingeasy_Fulfilment_Model</class>
                <resourceModel>fulfilment_mysql4</resourceModel>
            </fulfilment>
        </models>
        <resources>
            <fulfilment_setup>
                <setup>
                    <module>Shippingeasy_Fulfilment</module>
                    <class>Shippingeasy_Fulfilment_Model_Mysql4_Setup</class>
                </setup>
            </fulfilment_setup>
        </resources>
        
        <helpers>
            <fulfilment>
                <class>Shippingeasy_Fulfilment_Helper</class>
            </fulfilment>
        </helpers>
    </global>
</config>