<?xml version="1.0"?>
<config>
    <modules>
        <Shippingeasy_Fulfilment>
            <version>0.1.0</version>
        </Shippingeasy_Fulfilment>
    </modules>
    <frontend>
        <routers>
            <fetchkeys>
                <use>standard</use>
                <args>
                    <module>Shippingeasy_Fulfilment</module>
                    <frontName>shippingeasy_fetch</frontName>
                </args>
            </fetchkeys>
        </routers>  
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shippingeasy>
                                            <title>Shipping Easy Integration Configuration</title>
                                        </shippingeasy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 
    </adminhtml>
    <global>
        <helpers>
            <fulfilment>
                <class>Shippingeasy_Fulfilment_Helper</class>
            </fulfilment>
        </helpers>
    </global>
	<default>
		<shippingeasy>
			<fulfilment>
				<baseurl>https://app.shippingeasy.com</baseurl>
			</fulfilment>
		</shippingeasy>
	</default>
</config>