<?xml version="1.0"?>
<!--
/**
 * @category Shippingeasy
 * @package  Shippingeasy_Fulfilment
 */
-->

<config>    
    <sections>
        <shippingeasy>
            <label>ShippingEasy Configuration</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>306</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>			
            <groups>
                <fulfilment translate="label" module="fulfilment">
                    <label>ShippingEasy Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <apikey translate="label">
                            <label>ShippingEasy API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </apikey>
                        <secretkey translate="label">
                            <label>ShippingEasy Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </secretkey>
                        <baseurl translate="label">
                            <label>ShippingEasy Base URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </baseurl>
						<getvalues_button translate="label">
							<label></label>
							<frontend_type>button</frontend_type>
                            <frontend_model>Shippingeasy_Fulfilment_Block_Adminhtml_System_Config_Links_Api</frontend_model>
							<sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
						</getvalues_button>
                    </fields>
                </fulfilment>
            </groups>
        </shippingeasy>
    </sections>
</config>